In [1]:
import pandas as pd

In [3]:
employee=pd.read_csv('employee.csv')

In [5]:
employee

    employee_id               name               department
0           101        John Carter          Human Resources
1           102        Emily Davis                Marketing
2           103      Michael Smith                  Finance
3           104      Sarah Johnson                    Sales
4           105       David Wilson               IT Support
5           106      Jessica Brown   Research & Development
6           107     James Anderson               Operations
7           108      Olivia Taylor         Customer Service
8           109      William White                Logistics
9           110    Sophia Martinez              Procurement
10          111      Daniel Thomas        Quality Assurance
11          112        Emma Harris         Public Relations
12          113  Christopher Lewis       Product Management
13          114      Madison Clark     Software Engineering
14          115       Ethan Walker            Cybersecurity
15          116      Isabella Hall               Compliance
16          117     Benjamin Young  Supply Chain Management
17          118          Mia Scott                    Legal
18          119     Alexander King    Business Intelligence
19          120    Charlotte Moore           Data Analytics

In [7]:
performance=pd.read_csv('performance.csv')

In [9]:
performance

    employee_id                  task_name  task_score
0           101        Employee Onboarding          85
1           102      Social Media Campaign          78
2           103            Budget Analysis          92
3           104         Client Acquisition          88
4           105         System Maintenance          80
5           106            Market Research          75
6           107       Inventory Management          90
7           108  Customer Query Resolution          82
8           109          Shipment Tracking          87
9           110         Vendor Negotiation          79
10          111         Product Inspection          95
11          112     Press Release Drafting          76
12          113        Feature Development          89
13          114                 Bug Fixing          84
14          115             Security Audit          91
15          116    Policy Compliance Check          77
16          117         Demand Forecasting          93
17          118        Legal Documentation          81
18          119         Data Visualization          86
19          120         Performance Report          94

In [14]:
merged_data=pd.merge(employee,performance,on='employee_id')

In [16]:
merged_data

,employee_id,name,department,task_name,task_score
0,101,John Carter,Human Resources,Employee Onboarding,85
1,102,Emily Davis,Marketing,Social Media Campaign,78
2,103,Michael Smith,Finance,Budget Analysis,92
3,104,Sarah Johnson,Sales,Client Acquisition,88
4,105,David Wilson,IT Support,System Maintenance,80
5,106,Jessica Brown,Research & Development,Market Research,75
6,107,James Anderson,Operations,Inventory Management,90
7,108,Olivia Taylor,Customer Service,Customer Query Resolution,82
8,109,William White,Logistics,Shipment Tracking,87
9,110,Sophia Martinez,Procurement,Vendor Negotiation,79
10,111,Daniel Thomas,Quality Assurance,Product Inspection,95
11,112,Emma Harris,Public Relations,Press Release Drafting,76
12,113,Christopher Lewis,Product Management,Feature Development,89
13,114,Madison Clark,Software Engineering,Bug Fixing,84
14,115,Ethan Walker,Cybersecurity,Security Audit,91
15,116,Isabella Hall,Compliance,Policy Compliance Check,77
16,117,Benjamin Young,Supply Chain Management,Demand Forecasting,93
17,118,Mia Scott,Legal,Legal Documentation,81
18,119,Alexander King,Business Intelligence,Data Visualization,86
19,120,Charlotte Moore,Data Analytics,Performance Report,94

In [19]:
aggregated_data=merged_data.groupby(['employee_id','name']).agg({
    'task_score':'mean'
}).reset_index()

In [21]:
aggregated_data

    employee_id               name  task_score
0           101        John Carter        85.0
1           102        Emily Davis        78.0
2           103      Michael Smith        92.0
3           104      Sarah Johnson        88.0
4           105       David Wilson        80.0
5           106      Jessica Brown        75.0
6           107     James Anderson        90.0
7           108      Olivia Taylor        82.0
8           109      William White        87.0
9           110    Sophia Martinez        79.0
10          111      Daniel Thomas        95.0
11          112        Emma Harris        76.0
12          113  Christopher Lewis        89.0
13          114      Madison Clark        84.0
14          115       Ethan Walker        91.0
15          116      Isabella Hall        77.0
16          117     Benjamin Young        93.0
17          118          Mia Scott        81.0
18          119     Alexander King        86.0
19          120    Charlotte Moore        94.0

In [24]:
min_score= aggregated_data['task_score'].min()

In [28]:
min_score

75.0

In [34]:
max_score= aggregated_data['task_score'].max()

In [36]:
max_score

95.0

In [41]:
aggregated_data['normalised_score']=(aggregated_data['task_score']-min_score)/(max_score-min_score)

In [45]:
aggregated_data

    employee_id               name  task_score  normalised_score
0           101        John Carter        85.0              0.50
1           102        Emily Davis        78.0              0.15
2           103      Michael Smith        92.0              0.85
3           104      Sarah Johnson        88.0              0.65
4           105       David Wilson        80.0              0.25
5           106      Jessica Brown        75.0              0.00
6           107     James Anderson        90.0              0.75
7           108      Olivia Taylor        82.0              0.35
8           109      William White        87.0              0.60
9           110    Sophia Martinez        79.0              0.20
10          111      Daniel Thomas        95.0              1.00
11          112        Emma Harris        76.0              0.05
12          113  Christopher Lewis        89.0              0.70
13          114      Madison Clark        84.0              0.45
14          115       Ethan Walker        91.0              0.80
15          116      Isabella Hall        77.0              0.10
16          117     Benjamin Young        93.0              0.90
17          118          Mia Scott        81.0              0.30
18          119     Alexander King        86.0              0.55
19          120    Charlotte Moore        94.0              0.95

In [50]:
aggregated_data['score_category']=pd.cut(
    aggregated_data['normalised_score'],
    bins=3,
    labels=['Lowest','Medium','Highest']
)

In [52]:
aggregated_data

,employee_id,name,task_score,normalised_score,score_category
0,101,John Carter,85.0,0.50,Medium
1,102,Emily Davis,78.0,0.15,Lowest
2,103,Michael Smith,92.0,0.85,Highest
3,104,Sarah Johnson,88.0,0.65,Medium
4,105,David Wilson,80.0,0.25,Lowest
5,106,Jessica Brown,75.0,0.00,Lowest
6,107,James Anderson,90.0,0.75,Highest
7,108,Olivia Taylor,82.0,0.35,Medium
8,109,William White,87.0,0.60,Medium
9,110,Sophia Martinez,79.0,0.20,Lowest
10,111,Daniel Thomas,95.0,1.00,Highest
11,112,Emma Harris,76.0,0.05,Lowest
12,113,Christopher Lewis,89.0,0.70,Highest
13,114,Madison Clark,84.0,0.45,Medium
14,115,Ethan Walker,91.0,0.80,Highest
15,116,Isabella Hall,77.0,0.10,Lowest
16,117,Benjamin Young,93.0,0.90,Highest
17,118,Mia Scott,81.0,0.30,Lowest
18,119,Alexander King,86.0,0.55,Medium
19,120,Charlotte Moore,94.0,0.95,Highest

In [56]:
merged_data=pd.concat([merged_data ,merged_data.iloc[:]])

In [60]:
merged_data.to_csv("merged_data.csv", index=False)

In [62]:
merged_data

,employee_id,name,department,task_name,task_score
0,101,John Carter,Human Resources,Employee Onboarding,85
1,102,Emily Davis,Marketing,Social Media Campaign,78
2,103,Michael Smith,Finance,Budget Analysis,92
3,104,Sarah Johnson,Sales,Client Acquisition,88
4,105,David Wilson,IT Support,System Maintenance,80
5,106,Jessica Brown,Research & Development,Market Research,75
6,107,James Anderson,Operations,Inventory Management,90
7,108,Olivia Taylor,Customer Service,Customer Query Resolution,82
8,109,William White,Logistics,Shipment Tracking,87
9,110,Sophia Martinez,Procurement,Vendor Negotiation,79
10,111,Daniel Thomas,Quality Assurance,Product Inspection,95
11,112,Emma Harris,Public Relations,Press Release Drafting,76
12,113,Christopher Lewis,Product Management,Feature Development,89
13,114,Madison Clark,Software Engineering,Bug Fixing,84
14,115,Ethan Walker,Cybersecurity,Security Audit,91
15,116,Isabella Hall,Compliance,Policy Compliance Check,77
16,117,Benjamin Young,Supply Chain Management,Demand Forecasting,93
17,118,Mia Scott,Legal,Legal Documentation,81
18,119,Alexander King,Business Intelligence,Data Visualization,86
19,120,Charlotte Moore,Data Analytics,Performance Report,94
0,101,John Carter,Human Resources,Employee Onboarding,85
1,102,Emily Davis,Marketing,Social Media Campaign,78
2,103,Michael Smith,Finance,Budget Analysis,92
3,104,Sarah Johnson,Sales,Client Acquisition,88
4,105,David Wilson,IT Support,System Maintenance,80
5,106,Jessica Brown,Research & Development,Market Research,75
6,107,James Anderson,Operations,Inventory Management,90
7,108,Olivia Taylor,Customer Service,Customer Query Resolution,82
8,109,William White,Logistics,Shipment Tracking,87
9,110,Sophia Martinez,Procurement,Vendor Negotiation,79
10,111,Daniel Thomas,Quality Assurance,Product Inspection,95
11,112,Emma Harris,Public Relations,Press Release Drafting,76
12,113,Christopher Lewis,Product Management,Feature Development,89
13,114,Madison Clark,Software Engineering,Bug Fixing,84
14,115,Ethan Walker,Cybersecurity,Security Audit,91
15,116,Isabella Hall,Compliance,Policy Compliance Check,77
16,117,Benjamin Young,Supply Chain Management,Demand Forecasting,93
17,118,Mia Scott,Legal,Legal Documentation,81
18,119,Alexander King,Business Intelligence,Data Visualization,86
19,120,Charlotte Moore,Data Analytics,Performance Report,94

In [64]:
merged_data=merged_data.drop_duplicates()

In [66]:
merged_data

,employee_id,name,department,task_name,task_score
0,101,John Carter,Human Resources,Employee Onboarding,85
1,102,Emily Davis,Marketing,Social Media Campaign,78
2,103,Michael Smith,Finance,Budget Analysis,92
3,104,Sarah Johnson,Sales,Client Acquisition,88
4,105,David Wilson,IT Support,System Maintenance,80
5,106,Jessica Brown,Research & Development,Market Research,75
6,107,James Anderson,Operations,Inventory Management,90
7,108,Olivia Taylor,Customer Service,Customer Query Resolution,82
8,109,William White,Logistics,Shipment Tracking,87
9,110,Sophia Martinez,Procurement,Vendor Negotiation,79
10,111,Daniel Thomas,Quality Assurance,Product Inspection,95
11,112,Emma Harris,Public Relations,Press Release Drafting,76
12,113,Christopher Lewis,Product Management,Feature Development,89
13,114,Madison Clark,Software Engineering,Bug Fixing,84
14,115,Ethan Walker,Cybersecurity,Security Audit,91
15,116,Isabella Hall,Compliance,Policy Compliance Check,77
16,117,Benjamin Young,Supply Chain Management,Demand Forecasting,93
17,118,Mia Scott,Legal,Legal Documentation,81
18,119,Alexander King,Business Intelligence,Data Visualization,86
19,120,Charlotte Moore,Data Analytics,Performance Report,94